* {
    text-align: center;
    margin: 10px;
    font-family: "Open Sans";
}

#output-container {
    display: none;
}

#raw-image-preview,
#output-image-preview {
    height: 200px;
    width: 200px;
}

/* main {
    height: 70vh;
}

.interface * {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 25px auto;
    text-align: center;
}

.process-title {
    background: #FFA300;
    font-size: 18pt;
    border: 1px solid #E77721
}

.process-image {
    width: 250px;
    height: 250px;
    margin: 25px 12.5px 12.5px 25px;
    border: 1px solid lightgray;
}

#input-card {
    width: 250px;
    background-color: white;
}

.input-form {
    border: 1px solid lightgray;
}

.input-form input {
    width: 150px;
    height: 25px;
    margin: 12.5px;
}

#input-submit {
    border: none;
    background-color: #FFA300;
    border: 1px solid #E77721;
    
    margin: 10px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
}

.input-image {
    outline: none;
}

#output-card {
    width: 600px;
    display: none;
    background-color: white;
}

.output-content {
    border: 1px solid lightgray;
}

.output-text {
    text-align: left;
    margin-left: 37.5px;
}

.output-text-wrapper {
    margin-top: 12.5px;
    margin-bottom: 25px;
}

#preview-image {
    display:none;
    width: 200px;
    height: 200px;
} */
