# .gitignore

# ignore folders
/.vscode
/.ipynb_checkpoints
/__pycache__
/.DS_Store
/**/.vscode
/**/.ipynb_checkpoints
/**/__pycache__
/**/.DS_Store

# ignore shortcuts
*.ini
*.lnk

# track these files, if they exist
!.gitignore